body {
 background-color: blue;
 font-size: 48px;
 font-family: "Times New Roman" Helvetica, Arial, sans-serif;
 
}

p {
    color:red;
    font-weight: 18px;
    font-size: 20px;
}

a{
    color: red;
    text-decoration: none;
}

#myid {
    color: black;
    font-size: 40 px
}

